body {
  display: flex;
  flex-direction: column;
  margin: 0px;
}

ul {
  list-style-type: none;
  display: flex;
  margin: 0px;
  gap: 16px;
}

img {
    padding: 0px;
}

.hero,
footer {
  background-color: #1f2937;
}

header {
  display: flex;
  justify-content: space-between;
}

#header-logo {
  font-size: 24px;
  font-weight: 500;
  color: #f9faf8;
}

.hero-main-text {
  font-size: 48px;
  font-weight: 900;
  color: #f9f8fa;
  width: 400px;
}

.hero-text {
  font-size: 18px;
  color: #e5e7eb;
}

.hero {
    padding-left: 200px;
    padding-right: 200px;
}

.hero-main{
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
    margin-bottom: 100px;
}

.section {
  flex: 1;
  min-height: 100px;
}

button {
    background-color: #3882f6;
    font-weight: bold;
    border: none;
    border-radius: 12px;
    height: 35px;
    width: 150px;
    margin-top: 20px;
}

.title {
    text-align: center;
    color:#1f2937;
    font-size: 36px;
    font-weight: 900;
    margin: 48px;
}

.info {
    display: flex;
    justify-content: center;
    gap:64px;
    padding-bottom:100px;
}

.card {
    text-align: center;
}

footer {
    text-align: center;
    padding: 30px;
}